<!DOCTYPE html>
<html>
  <head>
    <title>Videodrome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <% unless notice.blank? %>
          <div class="alert alert-success">
            <a class="close" data-dismiss="alert">?</a>
            <span><%= notice %></span>
          </div>
      <% end %>

      <% unless alert.blank? %>
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">?</a>
            <span><%= alert %></span>
          </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
